<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
     <style>
        body {
            background-color: #E6E6FA; /* Светлый фиолетовый цвет фона */
            color: #4B0082; /* Тёмно-фиолетовый цвет текста */
        }
        h1, h2, h3 {
            color: #4B0082; /* Тёмно-фиолетовый цвет заголовков */
        }
    </style>
</head>
<body>
    <b><h1>Главная страница</h1></b>
    <nav>
        <ul>
            <li><h2><a href="#">Главная страница</a></h2></li>
            <li><h2><a href="/page1/">Магазин</a></h2></li>
            <li><h2><a href="/page2/">Корзина</a></h2></li>
        </ul>
    </nav>
</body>
</html>